Package: ma1sd
Maintainer: ma1uta <god@croak.world>
Homepage: https://github.com/ShinobiCat/ma1sd
Description: Federated Matrix Identity Server
Architecture: all
Section: net
Priority: optional
Depends: openjdk-21-jre | openjdk-21-jre-headless | openjdk-21-jdk | openjdk-21-jdk-headless
Version: 0
